<%= render "shared/second-header"%>
<div class= "registration-main" %>

<div class='form-wrap'>
  <div class='form-header'>
 <%= "#{@user.nickname}さんのカートの中身"%>
  <div class="form-group">
    <div class='form-text-wrap'>

      <% @user.cart.items.each do |item| %>
  <p><%= item.name %></p>
<% end %>

          </div>
          </div>
     </div>     
  </div>
</div>

<%= render "shared/second-footer"%>