.cart-main {
  width: 100%;
  min-width: 800px;
  height: 150vh;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}
.cart-header{
  font-size: 25px;
  color: #6a6a6a;
}

.item-font{
  font-size: 15px;
}

.cart-item-info {
  height: 20vh;  
  border-bottom: 2px solid #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy-item-img {
  margin-right: 20px;
  height: 130px;
  width: 200px;
  object-fit: contain;
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.form-wrap2 {
  width: 70%;
 
  background-color: white;
  padding-bottom: 70px;
}

.cart-delete-btn{ 
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: rgb(249, 75, 0);
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  font-size: 14px;
}
